node_modules
src
.gitignore
.github
.travis.yml
coverage
.nyc_output
npm-debug.log
docs
dist
test
.clinton.json
.editorconfig
.huskyrc
.lintstagedrc
.nycrc
ava.config.js
rollup.config.js
tsconfig.json
tslint.json